body {
    padding-top: 50px;
}

.archive-list li {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 16px;
}

.recent-posts li {
    margin-bottom: 5px;
    list-style: square;
    line-height: 28px;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container {
    background-color: #fff;
}

.cate-board {
    margin-bottom: 10px;
    padding: 15px;
    background: #f8f8f8;
}

.cate-list {
    display: inline-block;
    width: 595px;
    vertical-align: top;
    max-width: 80%;
}

.cate-board span {
    display: inline-block;
    width: 60px;
    text-align: right;
    font-weight: bold;
    margin-right: 8px;
}

.cate-board a {
    display: inline-block;
    padding: 2px 10px;
    font-size: 14px;
    line-height: 24px;
}

.cate-year {
    display: block;
    padding-bottom: 8px;
    border-bottom: 1px dashed #aaa;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.search-keyword {
    text-align: center;
}