<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item active">归档</li>
        </ol>
        <div class="post">
            {{#each posts}}
                <strong class="cate-year">{{this._id}}年</strong>
                <ul class="archive-list">
                    {{#each this.posts}}
                        <li>
                            <span>{{moment this.create_date 'YYYY-MM-DD'}} &raquo;</span>
                            <a href="/post/{{this.slug}}">{{this.title}}</a>
                        </li>
                    {{/each}}
                </ul>
            {{/each}}
        </div>
    </div>
</div>
