<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">首页</a>
            </li>
            <li class="breadcrumb-item active">
                搜索结果
            </li>
        </ol>
        <h3 class="search-keyword">搜索词: {{s}}</h3>
        <div class="recent-posts">
            <ul>
                {{#each posts}}
                <li>
                    <span>{{moment this.create_date 'YYYY-MM-DD'}} &raquo;</span>
                    <a href="/post/{{this.slug}}">{{this.title}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>